:root{
    --dark: #1d1e20;
    --light: #9499a0;
    --white: #ffffff;
    --black-shadow: rgba(0, 0, 0, 0.156);
}

@font-face {
    font-family: Tera;
    src: url(../assets/font/Tera-Regular.ttf);
}

#amh{
    font-family: Tera;
}

#address{
    color: var(--light);
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--dark);
    font-family: 'Roboto',sans-serif;
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 100vh;
    color: var(--white);
    cursor: default;


    #left_bar{
        height: 100%;
        width: 20vw;
        overflow: hidden;
        display: grid;
        grid-template-rows: 15% 70% 15%;
        grid-template-columns: 100%;
    
        #container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 1s;
    
            img{
                width: 80%;
            }
    
            #pdf{
                width: 40%;
            }
        }

        #container:hover{
            background-color: unset;
            box-shadow:  1px 1px 10px var(--white) inset;
        }
    
        #name-amh{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            p{
                color: var(--white);
                margin: 0;
                padding: 0;
                writing-mode: vertical-lr;
                font-size: 2rem;
                opacity: 40%;
                transform: rotate(180deg);
            }
    
        }
    
    }
    
    #beamlak_img{
        position: absolute;
        z-index: -1;
        width: 50%;
        overflow: hidden;
        bottom: 0;
        top: 0;

        #name_address{
            display: none;
        }
    
        #container_img{
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 9px 10px 6px var(--black-shadow);
    
            img{
                height: 100%;
                opacity: 60%;
            }
    
        }
    }

    #right_elements{
        height: 100%;
        overflow-y: auto;
        display: grid;
        grid-template-rows: 15% 85%;
        grid-template-columns: 100%;

        #name-eng{
            font-weight: bold;
            color: var(--white);
            right: 4vw;
            top: 4vh;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            p{
                padding-right: 2vw;
            }
            
        }

        #descriptions{
            .description{
                margin-bottom: 20%;
                border-bottom: 1px solid var(--white);
                #header{
                    h1{
                        margin: 0;
                        text-transform: capitalize;
                    }
                }

                #contents{
                    p{
                        width: 95%;
                    }

                    #cards{
                        display: grid;
                        grid-template-columns: repeat(2,60%);
                        grid-template-rows: 100%;
                        overflow-x: auto;

                        .card{
                            margin-right: 10%;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            box-shadow: 5px 5px 10px var(--black-shadow);
                            flex-direction: column;
                            height: 150px;
                            margin-bottom: 5%;
                            transition: 1s;

                            .item_title{
                                text-transform: capitalize;
                                color: var(--light);
                                transition: 1s;
                            }
                        }
                        
                        .card:hover{
                            box-shadow: 5px 5px 10px var(--black-shadow) inset;
                            .item_title{
                                text-decoration: underline;
                            }

                        }
                    }

                    #bars{
                        margin-top: 30px;

                        .item{
                            height: 30px;
                            display: grid;
                            grid-template-columns: 30% 70%;
                            grid-template-rows: 100%;
                            align-items: center;
                            margin-bottom: 10px;
                            
                            .item_title{
                                font-size: .9rem;
                            }

                            .bars{
                                display: grid;
                                grid-template-columns: repeat(5,5px);
                                grid-template-rows: 100%;
                                grid-column-gap: 20px;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                width: 100%;

                                .rec{
                                    border: 2px solid var(--light);
                                    width: 8px;
                                    height: 8px;
                                    transform: rotate(45deg);
                                    transition: 1s;
                                }
            
                                .fill{
                                    border: unset;
                                    background-color: var(--white);
                                }
                                
                                .fill:hover{
                                    box-shadow: 1px 1px 10px var(--white);
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 426px){
    ::-webkit-scrollbar{
        // display: none;
        height: 5px;
        width: 5px;
        appearance: none;
    }
   ::-webkit-scrollbar-thumb{
        background-color: var(--white);
   }

    body{
        grid-template-columns: 5vw 25vw 65vw;
        grid-template-areas: 'option img desc';
        

        #left_bar{
            grid-area: option;
            width: 100%;
            grid-template-rows: 10% 80% 10%;
            grid-template-columns: 100%;
            #container{
                background-color: var(--light);
            }
        }

        #beamlak_img{
            grid-area: img;
            position: relative;
            width: 100%;
            #name_address{
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 1;
                bottom: 0;
                width: 100%;
                text-align: center;
                h1,span{
                    margin: 0;
                }
                h1{
                    font-size: 1.5em;
                }
                span{
                    font-size: .7em;
                }
            }
            #container_img{
                img{
                    position: absolute;
                    right: 0;
                }
            }
        }

        #right_elements{
            grid-area: desc;
            margin-left: 5vw;

            #name-eng{
                display: none;
            }
        }
    }
}